 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;}
  body{
   background-color: #f2f2f2;;
  }
  header{
   background-color: #00c853;
   padding:15px;
   color: white;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
header input{
   padding: 10px ;
   border-radius: 15px;
   width: 60%;
   border: none;
}
header .logo{
   font-size: 24px;
   font-family:cursive;
   font-weight: bold;
}
.hero{
   width: 100%;
   height: auto;
   display: block;
}
.img{
   width: 100%;
   height: auto;
   flex-wrap: wrap;
}
.category-list{
   display: flex;
   gap: 10px;

}
.category{
  border: 1.5px  solid #333;
  background-color: #dadada;
  border-radius: 15px;
  padding: 5px 30px;
  margin: 15px;
  font-weight: bold;
  cursor: pointer;
box-shadow: 0px 5px 015px rgba(0, 0, 0, 0.3);}

.category:hover{
background-color: #00c853;
color: white;
}

      .product{
         padding: 100px;
         background-color: white;
         margin: 10px;
      }
      .product h2{
         margin-bottom: 15px;}
         
          .product-grid{
         display: grid;
         gap: 5px;
         grid-template-columns: repeat(5, 200px)

      }
      .product-card{
         background-color:rgb(255, 255, 255) ;
         padding: 10px;
         border-radius: 15px;
         width: 200px;
         height: 250px;
         text-align: center;
         box-shadow: 0px 1px 5px rgb(168, 167, 167);
      }
     
      .product-card img{
         width: 100%;
         border-radius: 5px;

      }
   .product-card button{
      padding: 8px 20px;
      border-radius: 4px;
      background-color: #00c853;
      color: white;
      border: none;
      cursor: pointer;
   }
   .product-card button:hover{
      border: 2px solid #00c853;
      background: rgb(255, 255, 255);
      color:#00c853;
   }
   .product-card p{
      color: #333;
      padding: 10px
   }